.latest-record {
    margin-bottom: 20px;
}

.latestRecord-title {
    font-size: 1.4em;
    color: rgb(88, 87, 87);
}

.latest-record .link-btn {
    margin-top: 20px;
    background-color: #7AB7D0;
    border-color: #7AB7D0;
}