.RecordsListPage {
    padding-top: 40px;
    background-color: #E2DCEF;
    min-height: 100vh;
}

.RecordsListPage .record-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.4em;
    color: rgb(88, 87, 87);
}