.recordcard {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.worries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.emojis {
    font-size: 3em;
}

.recordcard .nav-pills .nav-link {
  color: #7AB7D0;
}

.recordcard .nav-pills .nav-link.active,
.recordcard .nav-pills .nav-link:hover {
  background-color: #a4ccd8;
}