.AppointmentForm {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.AppointmentForm .form-appoinment-label {
    font-size: 0.9em;
    margin-bottom: 0;
}

.AppointmentForm .form-appointment-calendar {
    border-radius: 10px;
}

.btn-appForm {
    background-color: #81c2de;
    border: none;
    border: 1px solid #81c2de;
}

.btn-appForm:hover {
    background-color: white;
    color: #81c2de;
    border: 1px solid #81c2de;
}

.btn-applyForDate {
    background-color: #81c2de;
    border: none;
}

.btn-applyForDate:hover {
    background-color: white;
    color: #81c2de;
}