.AppointmentForm {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.AppointmentForm .form-appoinment-label {
    font-size: 0.9em;
    margin-bottom: 0;
}

.AppointmentForm .form-appointment-calendar {
    border-radius: 10px;
}

.btn-appForm {
    background-color: #81c2de;
    border: none;
    border: 1px solid #81c2de;
}

.btn-appForm:hover {
    background-color: white;
    color: #81c2de;
    border: 1px solid #81c2de;
}

.btn-applyForDate {
    background-color: #81c2de;
    border: none;
}

.btn-applyForDate:hover {
    background-color: white;
    color: #81c2de;
}

.react-calendar {
    width: 300px !important;
    background: #f4f7f7 !important;
    border: 1px solid #8ecce7c7 !important;
}

.react-calendar__tile--active {
    border-radius: 25px !important;
    background: #32a6d8 !important;
}

.react-calendar__tile--now {
    border-radius: 25px !important;
    background: rgba(227, 188, 227, 0.854) !important;
}

.react-calendar__navigation button:disabled {
    background-color: rgba(156, 192, 218, 0.835) !important;
}

.react-calendar__tile:disabled {
    background-color: rgba(207, 215, 221, 0.812) !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border-radius: 25px !important;
    background: #32a6d8 !important;
}