.SignupForm {
    margin-bottom: 15px;
    margin-top: 30px;
}

.SignupForm .form-input {
    border: 0.9px solid black;
}

.SignupForm .signup-button {
    background-color: #81c2de;
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SignupForm .signup-text {
    font-size: 0.9em;
    margin-bottom: 2px;
}