.PsycologistCard {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.PsycologistCard .card-text {
    font-size: 0.9em;
}

.PsycologistCard .btn-card {
    background-color: #81c2de;
    border: none;
    padding: 5px 20px;
}

.PsycologistCard .psyc-image {
    width: 100%;
}

.PsycologistCard .btns-contact-appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .PsycologistCard {
        width: 30%;
    }
}