.AboutUsPage {
    text-align: center;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    justify-content: center;
}

.profile-card {
    position: relative;
    margin: 60px 10px;
}

.profile-picture {
    width: 80%;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: transform 0.3s ease;
}

.profile-card:hover .profile-picture {
    transform: scale(1.05);
}

.profile-overlay {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-card:hover .profile-overlay {
    opacity: 1;
    transform: scale(1.05);
}

.overlay-content {
    display: none;
    position: absolute;
    width: 100%;
    /* Ajustar para que tenga el mismo ancho que la imagen */
    height: 100%;
    /* Ajustar para que tenga el mismo alto que la imagen */
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.profile-card:hover .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.profile-link:hover {
    color: #CCCCCC;
}

.aboutUs-description {
    margin-top: 30px;
    max-width: 600px;
    margin: 0 auto;
}