.UserDashboardPage {
  padding: 20px;
  background-color: #E2DCEF;
  min-height: 100vh;
}

.UserDashboardPage .user-column {
  text-align: center;
}

.UserDashboardPage .user-feelCard {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.UserDashboardPage .user-feelCard p {
  color: rgb(110, 108, 108);
}

.UserDashboardPage .btn-userState {
  background-color: #81c2de;
  border: none;
}

.UserDashboardPage .modal-content {
  background-color: #d9cef2;
}

.UserDashboardPage .modal-header .btn-close {
  color: #7AB7D0;
}

.UserDashboardPage .modal-title {
  color: #4f5463;
  text-align: center;
}

.UserDashboardPage .modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.UserDashboardPage .modal-content {
  width: 75%;
  height: 75%;
}

.UserDashboardPage .modal-dialog {
  height: 735px;
  width: auto;
}

.UserDashboardPage .records-and-appointments-column {
  text-align: center;
}