.title {
    font-size: 1.4em;
    color: rgb(88, 87, 87);
    padding: 5px;
    margin-left: 3px;
}

/* import React, { useEffect, useState } from 'react';
import { useParams } from 'react-router-dom';
import { Chart } from 'react-google-charts';
import UserService from '../../../services/user.services';

import './MoodChart.css';

const MoodChart = () => {
    const { userId } = useParams();
    const [chartData, setChartData] = useState([]);
    const [loading, setLoading] = useState(true);

    useEffect(() => {
        const getAllRecords = () => {
            UserService.getUser(userId)
                .then(response => {
                    const allRecords = response.data.records;
                    const moodCounts = {
                        'Muy mal': 0,
                        'Mal': 0,
                        'Normal': 0,
                        'Bien': 0,
                        'Muy bien': 0
                    };

                    allRecords.forEach(record => {
                        if (moodCounts.hasOwnProperty(record.moods)) {
                            moodCounts[record.moods] += 1;
                        }
                    });

                    const data = [
                        ['Mood', 'Count'], // Column headers
                        ...Object.entries(moodCounts).map(([mood, count]) => [mood, count]) // Data rows
                    ];

                    setChartData(data);
                    setLoading(false);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    setLoading(false);
                });
        };

        getAllRecords();
    }, [userId]);

    return (
        <div>
            <h2 className='title'>Moods</h2>
            {loading ? (
                <div>Loading...</div>
            ) : (
                <Chart
                    width={'100%'}
                    height={'200px'}
                    chartType="PieChart"
                    loader={<div>Loading Chart</div>}
                    data={chartData}
                    options={{
                        pieHole: 0.5,
                        slices: {
                            0: { color: '#F7A4A6' }, // Muy mal
                            1: { color: '#AFE0E9' }, // Mal
                            2: { color: '#FCE573' }, // Normal
                            3: { color: '#F7B1CB' }, // Bien
                            4: { color: '#98D2AD' }  // Muy bien
                        },
                        backgroundColor: 'transparent',
                        pieSliceTextStyle: {
                            fontSize: 20
                        },
                        chartArea: {
                            width: '100 %',
                            height: '80%'
                        }
                    }}
                />
            )}
        </div>
    );
};

export default MoodChart; */
