.Footer {
    padding: 20px;
    padding-top: 30px;
}

.Footer .footer-row {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
}

.Footer .footer-copyright {
    text-align: center;
    color: gray;
    font-size: 0.9em;
}

.Footer .footer-col-logo {
    text-align: center;
}

.Footer .footer-logo {
    width: 70%;
}

.Footer ul {
    list-style: none;
}

.Footer .footer-links {
    color: gray;
    font-size: 0.9em;
}

.Footer .footer-links li {
    margin-bottom: 10px;
    width: fit-content;
}

.Footer .footer-links a {
    display: block;
    color: gray;
    text-decoration: none;
    width: fit-content;
}

@media (min-width: 600px) {
    .Footer .footer-logo {
        width: 30%;
    }
}