.AppointmentDetailsCard .appointment-card {
    font-size: 0.9em;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.AppointmentDetailsCard .btn-deleteAppointment {
    font-size: 0.8em;
}