.DescriptionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.DescriptionSection .description-title {
    font-size: 4em;
    margin-top: 60px;
    margin-left: 30px;
}

.DescriptionSection .description-underTitle {
    font-weight: 400;
    text-align: justify;
    padding: 30px;
}

@media (min-width: 600px) {

    .DescriptionSection .description-title {
        font-size: 5em;
        margin-left: 15%;
    }

    .DescriptionSection .description-underTitle {
        margin-left: 10%;
    }

    .DescriptionSection .description-picture-container {
        margin-right: 10%;
    }

    .DescriptionSection .description-picture {
        width: 120%;
    }

}